@charset "utf-8";
/* CSS Document */


.row {
	background-color: #4A4A4A;
}

html {
	background-color: #4A4A4A;
}

video {

	width: 100%;
	height: auto;
	
}

#something {
	
}

#main {
	border: none;
}

#copyright {
	text-align: center;
	padding-top: 10px;
	color: white;
}

#headline {
	color: white;
	font-size: 36px;
	padding-top: 24px;
	padding-left: 20px;
}

#copy {
	color: white;
	padding-left: 20px;
}

#disclaimer {
	color: white;
	padding-left: 20px;
	font-size: 10px;
}